# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django related
*.log
local_settings.py
db.sqlite3
media/

# Flask related
instance/

# Scrapy related
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
pytest_cache/

# Poetry
# Virtual environment
.venv/
# Directory for Poetry to store its virtual environment
# in case you don't want to commit to using .venv/
.poetry/envs/
# .venv is used normally as a virtual environment directory in many
# python projects, so this is added to ignore Poetry's .venv/
!/.venv/
# Directory for Poetry to store its virtual environment in project
# in case you don't want to use the global .poetry/envs/ directory
# which is added to ignore above
.poetry/env/
# Cached information from Poetry about installed packages
.poetry/cache/
# If you have http authentication requirements, uncomment this
# and include the .auth files you need to use here.
# .httpauth/

# FastAPI
__pycache__/
app/main.py
chatmine.json